main {
  background-color: #EEEEEE;
}

footer {
  background-color:white;
}

.main-w-footer {
    /*129 = aprox. toolbar + footer height */
  min-height: calc(100vh - 129px);
}

.sidenav-frame {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2),1px 0 3px 0 rgba(0,0,0,.14),0 0 1px -1px rgba(0,0,0,.12);
    margin-bottom: 1px;
}

.login-card {
    width: 40%;
    margin-bottom: 60px;
}

.documents-card {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.full-contet-height {
    height: calc(100vh - 129px);
}

.information-card {
    max-width: 75%;
    background-color: #fff;
}

.statistics-card {
    width: 30vw;
    background-color: #fff;
}

.error-card {
    background-color: #fff;
    padding: 35px;
}

.pie-error-card {
    width: 60%;
    background-color: #fff;
    padding: 35px;
}

.history-card {
    width: 60%;
    position: relative;
    top: -112px;
    z-index: 2;
}

.user-info-card {
    width: 60%;
    position: relative;
    top: -80px;
    z-index: 2;
}

.user-info-title {
    font-size: 16px;
    line-height: 200%;
}

.u-overflow-fix {
  overflow:visible;
}

.watermark {
    opacity:0.3;
}

.watermark2 {
    padding-top: calc(20vh);
    padding-left: calc(22vw);
    background-color: #EEEEEE;
    opacity:0.3;
}

.request-details-title {
    font-weight: 400 !important;
    font-size: 20px !important;
    letter-spacing: .005em !important;
}

.request-details-wrapper {
    padding-left: 16px !important;
}

a {
  text-decoration: none;
  /* color: #8F731F; /* golden */
  color: #F44336; /* A200 red */
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

md-list .md-button {
    text-align: left;
}

.requestItems {
    padding-left:25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.sidenavList {
    padding-top:0px;
}

.sidenavTitle {
    font-size: 14px;
    color:#0D47A1;
    font-weight: 500;
    text-transform: uppercase;
}

.sidenavSubtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.slide-toggle {
  overflow: hidden;
  transition: all 300ms;
}

.sidenav-height {
    height: calc(100vh - 129px);
    background-color: white;
}

.document-container {
    background-color: #EEEEEE;
    max-height: calc(100vh - 129px);
}


.search-wrapper {
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    margin: 0 auto;
    max-width: 280px;
    background: #fff;
    padding: 8px 20px 8px 16px;
}

.search-input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: none;
    border: none;
    color: #212121;
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 16px;
    outline: none;
    padding: 8px 0;
    width: 100%;
}

md-select.no-md-select {
    border-bottom-color: white !important;
    color: black;
    margin: 0;
    font-size:16px;
    padding-right:10px;
}

md-select.no-md-select .md-select-value {
    border-bottom-color: white !important;
    font-size:16px;
    min-width: 20px !important;
    min-height: 0px !important;
}

.search-icon {
    color: grey !important;
    padding-left: 10px;
    cursor: pointer;
}

.full-screen-dialog {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 960px) {
    .login-card {
        width: 60%;
        margin-bottom: 20px;
    }

    .sidenav-height {
        height: calc(100vh - 5px);
    }

    .statistics-card {
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .login-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
