
main, body {
  background-color: #F5F5F5;
}

footer {
  background-color:white;
}

.main-w-footer {
    /*129 = aprox. toolbar + footer height */
  min-height: calc(100vh - 129px);
}

.login-card {
    width: 40%;
    margin-bottom: 60px;
}

.documents-card {
    width: 85%;
    margin-top: 30px;
}

.history-card {
    width: 60%;
    background: white;
    position: relative;
    top: -112px;
    z-index: 2;
}

.u-overflow-fix {
  overflow:visible;
}

.watermark {
    padding-top: calc(20vh);
    opacity:0.3;
    z-index:99;
}

.watermark2 {
    padding-top: calc(20vh);
    padding-left: calc(22vw);
    background-color: #F5F5F5;
    opacity:0.3;
}

a {
  text-decoration: none;
  color: #8F731F;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
    .login-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
