<!-- Toolbar -->
<md-toolbar layout-padding>
    <div class="md-toolbar-tools">
        <md-button ng-click="return()" class="md-icon-button">
            <md-icon>&#xe5c4</md-icon> <!-- arrow_back -->
        </md-button>
        <md-button
            id="nav-panel"
            hide-gt-sm
            class="md-icon-button"
            ng-click="openMenu()"
            aria-label="Open sidenav">
            <md-icon>&#xe5d2</md-icon> <!-- menu -->
        </md-button>
        <h2 class="md-headline">
            <span>Gestión de Solicitudes</span>
        </h2>
        <span flex></span>
        <div hide show-gt-sm id="manager-options">
            <md-button class="md-icon-button" ng-click="openManageUserAgentDialog($event)" aria-label="Manage Agents">
                <md-icon>&#xe851</md-icon> <!-- account_box -->
                <md-tooltip md-direction="bottom">Administrar usuarios</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="openConfigDialog($event)" aria-label="System Configuration">
                <md-icon>&#xe8b8</md-icon> <!-- settings -->
                <md-tooltip md-direction="bottom">Configuración del sistema</md-tooltip>
            </md-button>
            <md-menu>
                <md-button
                    ng-click="$mdOpenMenu($event)"
                    class="md-icon-button"
                    aria-label="Help">
                    <md-icon>
                        &#xe8fd <!-- help_outline -->
                    </md-icon>
                    <md-tooltip md-direction="bottom">Ayuda</md-tooltip>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button manager-help ng-click="showHelp()" aria-label="Tutorial">
                            <md-icon>&#xe0c6</md-icon> <!-- live_help -->
                            Diálogo de ayuda
                            <md-tooltip md-direction="bottom">Ayuda</md-tooltip>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="downloadManual()">
                            <md-icon class="md-secondary">
                                &#xe2c4
                                <!-- file_download -->
                            </md-icon>
                            Descargar manual
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button" ng-click="logout()" aria-label="Logout">
                <md-icon>&#xe879</md-icon> <!-- exit_to_app -->
                <md-tooltip md-direction="bottom">Cerrar sesión</md-tooltip>
            </md-button>
        </div>
        <!-- Show when screen width < 960px -->
        <md-menu
            hide-gt-sm>
            <md-button
                id="manager-options-menu"
                ng-click="$mdOpenMenu($event)"
                class="md-icon-button"
                aria-label="More">
                <md-icon class="md-secondary">
                    &#xe5d4 <!-- more_vert -->
                </md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="openManageUserAgentDialog($event)" aria-label="Manage Agents">
                        <md-icon>&#xe851</md-icon> <!-- account_box -->
                        Administrar
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="openConfigDialog($event)" aria-label="System Configuration">
                        <md-icon>&#xe8b8</md-icon> <!-- settings -->
                        Configuración del sistema
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="showHelp()" manager-help aria-label="Help">
                        &#xe8fd <!-- help_outline -->
                        Ayuda
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout()" aria-label="Logout">
                        <md-icon>&#xe879</md-icon> <!-- exit_to_app -->
                        Cerrar sesión
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<div layout>
    <!-- Sidenav -->
    <md-sidenav
        class="md-sidenav-left sidenav-frame"
        ng-show="contentAvailable"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm') && contentLoaded">
        <md-content class="sidenav-height">
            <md-progress-linear md-mode="query" ng-if="loading"></md-progress-linear>
            <!-- Query selection -->
            <div ng-show="showOptions && !loading">
                <md-list class="sidenavList" id="adv-search">
                    <md-list-item ng-click="togglePanelList(1)">
                        <p class="sidenavTitle">
                            Búsqueda avanzada
                        </p>
                        <md-icon ng-class="md-secondary" ng-if="selectedList != 1">&#xe313</md-icon> <!-- keyboard_arrow_down -->
                        <md-icon ng-class="md-secondary" ng-if="selectedList == 1">&#xe316</md-icon> <!-- keyboard_arrow_up -->
                    </md-list-item>
                    <md-divider></md-divider>
                    <div class="slide-toggle"
                         ng-show="selectedList == 1"
                         layout="column"
                         layout-align="center"
                         ng-repeat="query in queries | filter: {category: 'req'}">
                        <md-button
                            ng-click="selectAction(query.id)"
                            class="requestItems"
                            ng-class="{'md-primary md-raised' : selectedAction == query.id}">
                            {{query.name}}
                        </md-button>
                        <md-divider></md-divider>
                    </div>
                </md-list>
                <!-- Reports generation -->
                <md-list class="sidenavList">
                    <md-list-item ng-click="togglePanelList(2)" id="approval-report">
                        <p class="sidenavTitle">
                            Reporte de solicitudes cerradas
                        </p>
                        <md-icon ng-class="md-secondary" ng-if="selectedList != 2">&#xe313</md-icon> <!-- keyboard_arrow_down -->
                        <md-icon ng-class="md-secondary" ng-if="selectedList == 2">&#xe316</md-icon> <!-- keyboard_arrow_up -->
                    </md-list-item>
                    <md-divider></md-divider>
                    <div class="slide-toggle"
                         ng-show="selectedList == 2"
                         layout="column"
                         layout-align="center"
                         ng-repeat="query in queries | filter: {category: 'report'}">
                        <md-button
                            ng-click="selectAction(query.id)"
                            class="requestItems"
                            ng-class="{'md-primary md-raised' : selectedAction == query.id}">
                            {{query.name}}
                        </md-button>
                        <md-divider></md-divider>
                    </div>
                    <!-- Pending requests -->
                    <md-list id="pending-req">
                        <div layout="column" layout-align="center">
                            <md-button class="sidenavTitle"
                                       ng-click="selectAction('pending')"
                                       ng-class="{'md-primary md-raised white-txt' : selectedAction == 'pending'}">
                                <span>Solicitudes pendientes</span>
                            </md-button>
                        </div>
                    </md-list>
                    <md-divider></md-divider>
            </div>
            <!-- Result for specific user requests query -->
            <div ng-if="showResult != null && !loading">
                <div id="back-to-query" class="md-toolbar-tools md-whiteframe-z1">
                    <md-button ng-click="goBack()" class="md-icon-button">
                        <md-icon>&#xe5c4</md-icon> <!-- arrow_back -->
                    </md-button>
                    <span>Atrás</span>
                </div>
                <md-list class="sidenavList">
                    <!-- Show applicant info link only if query type is by ID-->
                    <md-list-item ng-if="showResult == 0" id="user-data" ng-click="loadUserData(fetchId)">
                        <p class="sidenavTitle">
                            Datos del asociado
                        </p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="showPie()">
                        <p class="sidenavTitle">
                            Estadísticas
                        </p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list id="result-data">
                        <div layout="column" layout-align="center">
                            <md-button class="sidenavTitle"
                                       ng-click="showRequestList()"
                                       ng-class="{'md-primary md-raised white-txt' : !pieloaded}">
                                <span>Lista de solicitudes</span>
                            </md-button>
                        </div>
                        <md-divider></md-divider>
                    </md-list>
                </md-list>
            </div>
        </md-content>
    </md-sidenav>
    <!-- Content -->
    <div layout="column" flex>
        <main class="main-w-footer">
            <!-- Loader -->
            <div
                ng-if="loadingContent"
                class="full-content-height"
                layout="column" layout-align="center center">
                <md-progress-circular aria-label="Loading..." md-mode="indeterminate" md-diameter="60">
                </md-progress-circular>
            </div>
            <!-- Watermark -->
            <div
                class="full-content-height"
                layout layout-align="center center"
                ng-if="showWatermark()">
                <div class="watermark" layout="column" layout-align="center center">
                    <img src="images/ipapedi.png" alt="Ipapedi logo"/>
                </div>
            </div>
            <!-- Pie chart statistics result -->
            <div layout layout-align="center center" class="full-content-height"
                ng-show="pieloaded">
                <div
                    id="piechart-tour"
                    layout="column"
                    layout-align="center center"
                    layout-padding
                    class="md-whiteframe-z2 statistics-card">
                    <div layout layout-align="center center">
                        <span>{{statisticsTitle}}</span>
                        <md-button
                            id="report-btn"
                            ng-hide="loadingReport"
                            class="md-icon-button"
                            ng-click="generateExcelReport()">
                            <md-icon>&#xe85d</md-icon> <!-- assignment -->
                            <md-tooltip md-direction="top">
                                Generar reporte
                            </md-tooltip>
                        </md-button>
                        <md-progress-circular
                            ng-show="loadingReport"
                            md-mode="indeterminate"
                            md-diameter="40">
                        </md-progress-circular>
                    </div>
                    <canvas id="piechart" width="300" height="300"></canvas>
                </div>
            </div>
            <md-content ng-if="!pieloaded && !showWatermark() && !loadingContent" class="bg document-container">
                <!-- Query by request ID -->
                <div ng-if="selectedAction == 10" class="margin-16" layout>
                    <div layout="column">
                        <span>Ingrese el ID de la solicitud</span>
                        <md-input-container
                            id="req-id"
                            class="no-vertical-margin"
                            md-no-float>
                            <input
                                placeholder="Ej: 253"
                                type="number"
                                min="0"
                                aria-label="requestId"
                                ng-model="model.perform[selectedAction].id"
                                ng-keyup="$event.keyCode == 13 && fetchRequestById()">
                        </md-input-container>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].id || loading"
                            ng-click="fetchRequestById()"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>
                <!-- Query by specific user -->
                <div ng-if="selectedAction == 0 && showResult == null" class="margin-16" layout>
                    <div layout="column">
                        <span>Ingrese cédula de identidad</span>
                        <div layout layout-align="start start">
                            <md-input-container
                                id="uid"
                                class="no-vertical-margin"
                                md-no-float>
                                <md-select
                                    md-select-fix="idPrefix"
                                    aria-label="V or E ID"
                                    ng-model="idPrefix">
                                    <md-option value="V">
                                        V
                                    </md-option>
                                    <md-option value="E">
                                        E
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container
                                class="no-vertical-margin"
                                md-no-float>
                                <input
                                    placeholder="Ej: 123456789"
                                    type="number"
                                    min="0"
                                    aria-label="userId"
                                    ng-model="model.perform[0].id"
                                    ng-keyup="$event.keyCode == 13 && fetchUserRequests(selectedAction)">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].id || loading"
                            ng-click="fetchUserRequests(selectedAction)"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>
                <!-- Query by status -->
                <div ng-if="selectedAction == 1 && showResult == null" layout class="margin-16">
                    <div layout="column">
                        <span>Elija el estatus</span>
                        <md-input-container
                            id="req-status"
                            class="no-vertical-margin"
                            md-no-float>
                            <md-select
                                md-select-fix="model.perform[1].status"
                                md-on-open="loadStatuses()"
                                md-on-close="onStatusClose()"
                                placeholder="Estatus"
                                ng-change="fetchRequestsByStatus(model.perform[selectedAction].status, selectedAction)"
                                ng-model="model.perform[1].status">
                                <md-option ng-repeat="(sKey, status) in statuses" ng-value="status">
                                    {{status}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <!-- Query by loan type -->
                <div ng-if="selectedAction == 8 && showResult == null" layout class="margin-16">
                    <div layout="column">
                        <span>Elija el tipo de solicitud</span>
                        <md-input-container
                            id="req-type"
                            class="no-vertical-margin"
                            md-no-float>
                            <md-select
                                md-select-fix="model.perform[selectedAction].loanType"
                                placeholder="Tipo"
                                ng-change="fetchRequestsByLoanType(model.perform[selectedAction].loanType, selectedAction)"
                                ng-model="model.perform[selectedAction].loanType">
                                <md-option ng-repeat="(lKey, loanType) in loanTypes" ng-value="lKey">
                                    {{loanType.DescripcionDelPrestamo}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <!-- Query pending requests -->
                <div ng-if="selectedAction == 9 && showResult == null" layout="column"  layout-align="center center" layout-margin>
                    <span>Lista y estadísticas de solicitudes pendientes</span>
                    <div layout layout-align="center center">
                        <md-button
                            id="pending-btn"
                            ng-disabled="!model.perform[selectedAction] || loading"
                            ng-click="fetchPendingRequests(selectedAction)"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>
                <!-- Query by interval of dates -->
                <div ng-if="selectedAction == 2 && showResult == null" layout layout-xs="column">
                    <div id="date-from" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Desde</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].from" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <div id="date-to" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Hasta</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].to" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <br />
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].from || !model.perform[selectedAction].to || loading"
                            ng-click="fetchRequestsByDateInterval(
                                model.perform[selectedAction].from,
                                model.perform[selectedAction].to,
                                selectedAction
                             )"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>

                <!-- Query approved amount by interval of dates -->
                <div ng-if="selectedAction == 4" layout layout-xs="column">
                    <div id="date-from" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Desde</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].from" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <div id="date-to" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Hasta</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].to" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].from ||
                                !model.perform[selectedAction].to || loading"
                            ng-click="getApprovedAmountByDateInterval(
                                model.perform[selectedAction].from,
                                model.perform[selectedAction].to
                            )"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>
                <!-- Query approved amount from spcific user (ID) -->
                <div ng-if="selectedAction == 5" class="margin-16" layout>
                    <div layout="column">
                        <span>Ingrese cédula de identidad</span>
                        <div layout layout-align="start start">
                            <md-input-container
                                id="uid"
                                class="no-vertical-margin"
                                md-no-float>
                                <md-select
                                    md-select-fix="idPrefix"
                                    aria-label="V or E ID"
                                    ng-model="idPrefix">
                                    <md-option value="V">
                                        V
                                    </md-option>
                                    <md-option value="E">
                                        E
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container
                                class="no-vertical-margin"
                                md-no-float>
                                <input
                                    placeholder="Ej: 123456789"
                                    type="number"
                                    min="0"
                                    aria-label="Search"
                                    ng-model="model.perform[selectedAction].id"
                                    ng-keyup="$event.keyCode == 13 && getApprovedAmountById(selectedAction)">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].id || loading"
                            ng-click="getApprovedAmountById(selectedAction)"
                            class="md-raised md-primary">
                            <md-icon>&#xe8b6 <!-- search --></md-icon>Consultar
                        </md-button>
                    </div>
                </div>

                <!-- Query closed requests report by interval of dates -->
                <div ng-if="selectedAction == 6" layout layout-xs="column">
                    <div id="date-from" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Desde</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].from" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <div id="date-to" layout="column" layout-xs="row" layout-align-xs="start center" layout-margin>
                        <p>Hasta</p>
                        <md-datepicker class="bg" ng-model="model.perform[selectedAction].to" md-placeholder="Ingese fecha"></md-datepicker>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            ng-disabled="!model.perform[selectedAction].from ||
                                !model.perform[selectedAction].to"
                            ng-hide="loadingReport"
                            ng-click="getClosedReportByDateInterval(
                                model.perform[selectedAction].from,
                                model.perform[selectedAction].to
                            )"
                            class="md-raised md-primary">
                            <md-icon>&#xe85d</md-icon> Generar <!-- assignment -->
                        </md-button>
                        <md-progress-circular ng-if="loadingReport" md-mode="indeterminate">
                    </div>
                </div>
                <!-- Query this week's closed requests -->
                <div ng-if="selectedAction == 7" layout layout-padding>
                    <div>
                        <p>Reporte de solicitudes cerradas esta semana</p>
                    </div>
                    <div layout layout-align="center center">
                        <md-button
                            id="generate-btn"
                            ng-hide="loadingReport"
                            ng-click="getClosedReportByCurrentWeek()"
                            class="md-raised md-primary">
                            <md-icon>&#xe85d</md-icon> Generar <!-- assignment -->
                        </md-button>
                        <md-progress-circular ng-if="loadingReport" md-mode="indeterminate">
                        </md-progress-circular>
                    </div>
                </div>
                <!-- Approved amount result -->
                <div layout layout-align="center center" class="margin-16" ng-if="showApprovedAmount">
                    <div
                        layout="column"
                        layout-align="center center"
                        layout-padding class="md-whiteframe-z3 information-card">
                        <span>{{approvedAmountTitle}}</span>
                        <h1 style="font-weight:300" class="md-display-1">Bs {{approvedAmount | number:2}}</h1>
                    </div>
                </div>

                <!-- Requests list -->
                <div class="margin-16" ng-if="!isObjEmpty(requests) && !loadingContent && !pieloaded" id="requests-group">
                    <md-expansion-panel-group md-component-id="requests">
                        <md-expansion-panel ng-repeat="(lKey, loanType) in loanTypes" md-component-id="{{lKey}}">
                            <md-expansion-panel-collapsed class="pointer">
                                <div>Solicitudes de {{loanType.DescripcionDelPrestamo}}</div>
                                <span flex></span>
                                <md-expansion-panel-icon></md-expansion-panel-icon>
                            </md-expansion-panel-collapsed>
                            <md-expansion-panel-expanded>
                                <md-expansion-panel-header>
                                    <div class="md-title">{{loanType.DescripcionDelPrestamo}}</div>
                                    <div class="md-summary"></div>
                                    <md-expansion-panel-icon></md-expansion-panel-icon>
                                </md-expansion-panel-header>

                                <md-expansion-panel-content>
                                    <!-- Table of requests -->
                                    <p ng-show="requests[lKey].length == 0">No se encontraron resultados</p>
                                    <md-table-container ng-show="requests[lKey].length > 0">
                                        <table md-table md-row-select ng-model="selected">
                                            <thead md-head>
                                            <tr md-row>
                                                <th md-column><span>ID</span></th>
                                                <th md-column><span>Fecha</span></th>
                                                <th md-column><span>Estatus</span></th>
                                                <th md-column><span>Solicitante</span></th>
                                                <th md-column><span>Monto solicitado</span></th>
                                                <th md-column><span>Monto aprobado</span></th>
                                                <th md-column><span>Monto abonado</span></th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row ng-repeat="(rKey, request) in requests[lKey] | limitTo: query.limit: (query.page - 1) * query.limit track by $index">
                                                <td md-cell ng-click="goToDetails(request)"><a>{{pad(request.id, 6)}}</a></td>
                                                <td md-cell ng-click="goToDetails(request)">{{request.creationDate}}</td>
                                                <td md-cell ng-click="goToDetails(request)">{{request.status}}</td>
                                                <td md-cell ng-click="loadUserData(request.userOwner)">
                                                    <a>{{request.userOwner}}</a>
                                                    <md-tooltip>{{request.userOwnerName}}</md-tooltip>
                                                </td>
                                                <td md-cell ng-click="goToDetails(request)">{{request.reqAmount | number:2}}</td>
                                                <td md-cell ng-click="goToDetails(request)">
                                                    {{(request.approvedAmount | number:2) || '----'}}
                                                </td>
                                                <td md-cell ng-click="goToDetails(request)">
                                                    {{(request.paidAmount | number:2) || '----'}}
                                                </td>
                                                <td md-cell ng-if="isReqManageable(request)"
                                                    ng-click="openManageRequestDialog($event, request)">
                                                    <md-icon class="md-secondary">
                                                        &#xe3c9 <!-- edit -->
                                                    </md-icon>
                                                    <md-tooltip>
                                                        Gestionar solicitud
                                                    </md-tooltip>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>
                                    <md-table-pagination ng-show="requests[lKey].length > 0"
                                                         md-label="{page: 'Página:', rowsPerPage: 'Solicitudes por página:', of: 'de'}"
                                                         md-limit="query.limit"
                                                         md-limit-options="[5, 10, 15, 20]"
                                                         md-page="query.page"
                                                         md-total="{{requests[lKey].length}}"
                                                         md-page-select>

                                    </md-table-pagination>
                                </md-expansion-panel-content>

                                <md-expansion-panel-footer>
                                    <div flex></div>
                                    <md-button class="md-warn" ng-click="$panel.collapse()">Cerrar</md-button>
                                </md-expansion-panel-footer>
                            </md-expansion-panel-expanded>
                        </md-expansion-panel>
                    </md-expansion-panel-group>
                </div>

                <!-- Specific type requests list -->
                <div class="margin-16" ng-if="singleType.length > 0 && !loadingContent && !pieloaded">
                    <md-card ng-if="singleType.length > 0" id="single-type">
                        <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <span>Lista de solicitudes</span>
                            </div>
                        </md-toolbar>
                        <md-table-container>
                            <table md-table md-row-select ng-model="selected">
                                <thead md-head>
                                <tr md-row>
                                    <th md-column><span>ID</span></th>
                                    <th md-column><span>Fecha</span></th>
                                    <th md-column><span>Estatus</span></th>
                                    <th md-column><span>Solicitante</span></th>
                                    <th md-column><span>Monto solicitado</span></th>
                                    <th md-column><span>Monto aprobado</span></th>
                                    <th md-column><span>Monto abonado</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="(rKey, request) in singleType | limitTo: query.limit: (query.page - 1) * query.limit track by $index">
                                    <td md-cell ng-click="goToDetails(request)"><a>{{pad(request.id, 6)}}</a></td>
                                    <td md-cell ng-click="goToDetails(request)">{{request.creationDate}}</td>
                                    <td md-cell ng-click="goToDetails(request)">{{request.status}}</td>
                                    <td md-cell ng-click="loadUserData(request.userOwner)">
                                        <a>{{request.userOwner}}</a>
                                        <md-tooltip>{{request.userOwnerName}}</md-tooltip>
                                    </td>
                                    <td md-cell ng-click="goToDetails(request)">{{request.reqAmount | number:2}}</td>
                                    <td md-cell ng-click="goToDetails(request)">
                                        {{(request.approvedAmount | number:2) || '----'}}
                                    </td>
                                    <td md-cell ng-click="goToDetails(request)">
                                        {{(request.paidAmount | number:2) || '----'}}
                                    </td>
                                    <td md-cell ng-if="isReqManageable(request)"
                                        ng-click="openManageRequestDialog($event, request)">
                                        <md-icon class="md-secondary">
                                            &#xe3c9 <!-- edit -->
                                        </md-icon>
                                        <md-tooltip>
                                            Gestionar solicitud
                                        </md-tooltip>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination
                            md-label="{page: 'Página:', rowsPerPage: 'Solicitudes por página:', of: 'de'}"
                            md-limit="query.limit"
                            md-limit-options="[5, 10, 15, 20]"
                            md-page="query.page"
                            md-total="{{singleType.length}}"
                            md-page-select>

                        </md-table-pagination>
                    </md-card>
                </div>
            </md-content>
        </main>
        <md-divider></md-divider>
    </div>
</div>
